@font-face {
  font-family: RussoOne;
  src: url(fonts/RussoOne-Regular.ttf);
  font-family: HammersmithOne;
  src: url(fonts/HammersmithOne-Regular.ttf);
  font-family: Orbitron;
  src: url(fonts/Orbitron-VariableFont_wght.ttf);
  font-family: ArchivoBlack;
  src: url(fonts/ArchivoBlack-Regular.ttf);
}

@media (max-width: 900px) {
  #main {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (max-width: 900px) {

  nav {
    font-size: 15px;
    font-family: RussoOne;
    color: white;
    text-decoration: none;
    flex-wrap: wrap;
    flex-direction: column;
  }

}

.wrapper{
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:auto
}

.ul_row{
  display: inline;
  padding: 10px;
}

html {
  scroll-behavior: smooth;
}

a {
  color: black;
  font-family: RussoOne;
  font-size: 18px;
}

li {
  list-style-type: none;
  font-size: 18px;
  font-family: RussoOne;
}

ul {
  margin-left: 0;
  padding-left: 0;
  font-size: 18px;
  font-family: RussoOne;
}

h1 {
  font-family: RussoOne;
  font-size: 60px;
  font-weight: 200;
  color: white;
}

h2 {
  font-family: ArchivoBlack;
  text-transform: uppercase;
  text-align: center;
  color: rgb(73, 70, 70);
}

h3 {
  font-family: ArchivoBlack;
  text-align: center;
}

#photo {
  display: flex;
  flex-basis: 20%;
  align-items: center;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
}

#contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact_li{
  padding: 5px;
  align-content: center;
}

#skills {
  display: flex;
  align-items: center;
}

.li_skills{
  line-height:40px;
}

#skills_list {
  margin-right: 40px;
}

#main {
  height: 100%;
  display: flex;
  flex-direction: row;
  font-size: 16px;

}

#aside {
  font-family: HammersmithOne;
  flex-basis: 30%;
  display: flex;
  background: silver;
  width: 50%;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
  color: black;
}

#container2 {
  display: flex;
  background-color: white;
  flex-basis: 70%;
  flex-direction: column;
  padding: 20px;
}

.section {
  font-family: HammersmithOne;
  font-size: 16px;
}

#footer {
  background: rgb(105, 102, 102);
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
  max-width: 1200px;
}

#header {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 20px;
  text-align: center;
  background-color: silver;
}

#content {
  font-family: Arial;
  font-size: 20 px;
  margin: 0 auto;
  /* width: 650px; */
}

p,
br {
  font-family: RussoOne;
  font-size: 18px;
}



.dot {
  margin-bottom: 16px;
  height: 18px;
  width: 18px;
  background-color: rgb(15, 14, 14);
  border-radius: 50%;
  display: inline-block;
}

#level {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.dotepmty {
  margin-bottom: 16px;
  height: 14px;
  width: 14px;
  background-color: rgb(209, 201, 201);
  border-radius: 50%;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  display: inline-block;
}

nav {
  display: flex;
  padding-top: 10px;
  align-content: center;
  justify-content: space-around;
  background-color: rgb(90, 84, 84);
  height: 20%;

}

.a_nav {
  font-size: 25px;
  font-family: RussoOne;
  color: white;
  text-decoration: none;
}

.a_nav:hover {
  font-size: 30px;
  color: black;
}